/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Poppins';
  color: #444444;
  font-size:16px;
}

a {
  color: #e03a3c;
  text-decoration: none;
}

a:hover {
  color: #e76668;
  text-decoration: none;
}

.section{padding:50px 0;}

/* CSS Document */

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.navbar li a{color:#0d4159;}
.bannerlist span{margin-right:5px;}

/*--------------------------------------------------------------
# Who We Are
--------------------------------------------------------------*/
.whoweare h3{color:#0aa9b9; text-transform:uppercase; font-weight:800; font-size:20px;}
.whoweare h2{font-weight:800; color:#0d4159;}
.custom-line{display:inline-block; width:50px; border:1px solid #00a1cd; height:2px; margin-top:-20px; margin-right:8px;}

/*--------------------------------------------------------------
# Number Section
--------------------------------------------------------------*/
.numbersection{background:url(../assets/img/whowebg.png) no-repeat; min-height:433px; display:flex; align-items:center;}
.numbersection h4{font-weight:800; color:#fff; font-size:36px;}
.numbersection h6{color:#fff; font-size:18px;}
.numbersection .btn-secondary{width:auto; background:#059baa; border:0; font-size:18px; padding:8px 30px;}
.numbersection .btn-secondary:hover{background:#000;}

/*--------------------------------------------------------------
# staffing Section
--------------------------------------------------------------*/
.staffing{background:#f6f7f9; padding:85px 0;}
.staffing .custom-line, .benefit-section .custom-line{margin-top:-5px;}
.staffing h3, .benefit-section h3{font-weight:800; color:#0aa9b9; font-size:16px;}
.staffing h2, .benefit-section h2{font-weight:800; color:#0d4159;}
.staffing li{list-style:none; background:url(img/icon2.png) no-repeat 0; padding:5px 35px;}

/*--------------------------------------------------------------
# Benefit Section
--------------------------------------------------------------*/
.benefit-section{padding:50px 0;}
.benefit-section .icon-box{padding: 30px; position: relative; text-align:center; border-radius: 8px; background:#f7f7f7; min-height:315px;}
.benefit-section h3{font-size:26px; font-weight:800; color:#0d4159; margin:8px 0;}

/*--------------------------------------------------------------
# Travel Section
--------------------------------------------------------------*/
.travelsection{background:url(../assets/img/bg2.png) no-repeat; min-height:433px; display:flex; align-items:center;}
.travelsection h2{font-weight:800; color:#fff; font-size:36px; margin-bottom:25px;}
.travelsection h2 span{background:#048f9d; padding:5px 10px;}
.travelsection p{color:#fff; font-size:16px;}
.travelsection .btn-secondary{width:auto; background:#059baa; border:0; font-size:18px; padding:8px 30px;}
.travelsection .btn-secondary:hover{background:#000;}

/*--------------------------------------------------------------
# Benefit Section
--------------------------------------------------------------*/
.careersection{padding:50px 0;}
.jobsection .icon-box{padding: 30px; position: relative; border-radius: 8px; border:3px solid #d7d7d7; margin-bottom:25px;}
.careersection h3{font-size:26px; font-weight:800; color:#0d4159; margin:8px 0;}
.careersection .custom-line{margin-top:-5px;}
.careersection h3{font-weight:800; color:#0aa9b9; font-size:16px;}
.careersection h2{font-weight:800; color:#0d4159;}
.buttonbtm{position: absolute; right: 30px; bottom:30px;}
.jobsection h3{color:#000; font-size:18px; font-weight:600;}
.jobsection .btn-secondary{width:auto; background:#0d4159; border:0; font-size:18px; padding:8px 30px;}
.jobsection .btn-secondary:hover{background:#000;}
.viewjobsbtn a{background:#059baa; border:0;}

/*--------------------------------------------------------------
# Worked Section
--------------------------------------------------------------*/
.workedsection{padding:50px 0;}
.carouselright ul li{list-style:none; display:inline-block; text-align:center; margin:0px 16px; color:#242526; font-size:14px; font-weight:600;}
.carouselright ul li span{display:block;}

/*--------------------------------------------------------------
# Footer Section
--------------------------------------------------------------*/
.footer{background:#0c4158; padding:65px 0;}
.footer p{color:#fff;}
.footer p a{color:#fff;}
.footer ul{margin:0; padding:0;}
.footer ul li{list-style:none; padding:0 0 10px; margin:0;}
.footer ul li a{color:#e0e0e0;}
.footer h4{color:#fff; font-weight:600; font-size:16px;}
.foot-mdl{padding:0px 35px;}
.footer .social-icons li{display:inline-block; margin:0px 5px;}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	

@media only screen and (min-width:992px) and (max-width:1078px){
	
	}


@media screen and (max-width:1023px) {

}

@media screen and (max-width: 767px) {

}

@media screen and (max-width:479px){}