
   <!-- ======= Staffing Section ======= -->
   <section class="staffing">
   		<div class="container">
        	<div class="row">
            	<div class="col-md-12 text-center">
                	<div class="d-flex align-items-center justify-content-center mb-2"><span class="custom-line">&nbsp;</span> <h3>Care</h3></div>
                    <h2>How We Care</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis consectetur <br>
                        consequatur possimus asperiores. Vel maxime error cupiditate.
                        </p>
                </div>
            </div>
            
            <div class="row mt-5">
                <div class="col-md-7">
                 <ul>
                     <li>Anesthesiology/CRNA</li>
                     <li>Cardiology</li>
                     <li>Correctional Medicine</li>
                     <li>Dentistry</li>
                     <li>Emergency Medicine</li>
                     
                     <li>Anesthesiology/CRNA</li>
                     <li>Cardiology</li>
                     <li>Correctional Medicine</li>
                     <li>Dentistry</li>
                     <li>Emergency Medicine</li>
                     
                     <li>Anesthesiology/CRNA</li>
                     <li>Cardiology</li>
                     <li>Correctional Medicine</li>
                     <li>Dentistry</li>
                     <li>Emergency Medicine</li>
                 </ul>
             </div>
             <div class="col-md-5"><img src="/img/it-health.png" alt="" class="img-fluid"></div>
         </div>
        </div>
   </section>