<div class="container bannerlist">
    <div class="row">
      <div class="col-6 col-xl-3 mb-5 mb-xl-0">
          <div class="d-flex align-items-center"><span><img src="/img/icon1.png" alt="" class="img-fluid"></span> 129+ Successful Projects</div>
      </div>
      
      <div class="col-6 col-xl-3 mb-5 mb-xl-0">
          <div class="d-flex align-items-center"><span><img src="/img/icon1.png" alt="" class="img-fluid"></span> 20+ Cool Satisfied Clients</div>
      </div>
      
      <div class="col-6 col-xl-3 mb-5 mb-xl-0">
          <div class="d-flex align-items-center"><span><img src="/img/icon1.png" alt="" class="img-fluid"></span> 34+ Hours Of Working</div>
      </div>
      
      <div class="col-6 col-xl-3 mb-5 mb-xl-0">
          <div class="d-flex align-items-center"><span><img src="/img/icon1.png" alt="" class="img-fluid"></span> 99% Success Rate</div>
      </div>
  </div>
</div>