
    
   <!-- ======= Footer Section ======= -->
   <footer class="footer">
    <div class="container">
       <div class="row">
           <div class="col-md-5 col-lg-5">
               <figure><img src="/img/footerlogo.png" alt="" class="img-fluid"></figure>
                 <p>Raisso serves the medical staffing needs of healthcare facilities in all 50 states through our nationwide network of highly skilled and dedicated healthcare professionals. Diversity and tolerance keep us competitive. Respect and integrity guide our behavior. We elevate our service offerings in order to meet the growing and changing needs of our customers while continuing to deliver a first-class employee experience.</p>
             </div>
             
             <div class="col-md-3 col-lg-3">
               <div class="foot-mdl">
                     <h4>Quick Links</h4>
                     <ul>
                      {{ range .Site.Params.footerlink }}
                      <li><a href="{{.url}}"><i class="bi bi-chevron-right"></i> {{.name}}</a></li>
                    {{ end }}
                     </ul>
                 </div>
             </div>
             
           <div class="col-md-4 col-lg-4">
               <h4>ADDRESS &amp; Social MEDIA</h4>
             <p>5050 Robert J Mathews Pkwy, Ste 100, El Dorado Hills, CA-95762.<br>Telephone: 469.327.1544<br>EMAIL: <a href="mailto:hr@raisso.com">hr@raisso.com</a></p>
               <ul class="social-icons">
                    <li><a href="#"><img src="assets/img/fb.png" alt="" class="img-fluid"></a></li>
                   <li><a href="#"><img src="assets/img/linkedin.png" alt="" class="img-fluid"></a></li>
                   <li><a href="#"><img src="assets/img/twit.png" alt="" class="img-fluid"></a></li>
               </ul>
             </div>
         </div>
     </div>
</footer>
 
 

 <!-- Optional JavaScript; choose one of the two! -->
 <!-- Option 1: Bootstrap Bundle with Popper -->
 

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
 
 <!-- Owl Carousel -->
 <script src="/owlcarousel/jquery.min.js"></script>
 <script src="/owlcarousel/owl.carousel.js"></script>
<script>

var myCarousel = document.querySelector('#myCarousel')
var carousel = new bootstrap.Carousel(myCarousel, {
  interval: 2000,
  wrap: false
})
         $(document).ready(function() {
           $('.owl-carousel').owlCarousel({
             loop: true,
             margin:5,
             autoplay: true,
             autoplayTimeout: 3000,
             responsiveClass: true,
             responsive: {
               0: {
                 items: 1,
                 nav: true
               },
               600: {
                 items: 1,
                 nav: false
               },
               1000: {
                 items: 3,
                 nav: true,
                 loop: true,
                 margin: 20
               }
             }
           })
     
     $('.owl-two').owlCarousel({
             loop: true,
             margin:5,
             autoplay: true,
             autoplayTimeout: 3000,
             responsiveClass: true,
             responsive: {
               0: {
                 items: 3,
                 nav: true
               },
               600: {
                 items: 3,
                 nav: false
               },
               1000: {
                 items:4,
                 nav: true,
                 loop: false,
                 margin: 20
               }
             }
           })
         })
</script>