<div class="container bannertabs">
    <div class="row">
      <div class="col-md-9">
          <ul>
              <li><a href="#"><span><img src="/img/topicon.png" alt="" class="img-fluid"></span> Healthcare Staffing</a></li>
              <li><a href="#"><span><img src="/img/topicon2.png" alt="" class="img-fluid"></span> IT Solutions</a></li>
          </ul>
      </div>
      
      <div class="col-md-3 jobbg">
          <div class="lookingjob">
              <h3>Looking to JOB?</h3>
              <p><a class="btn btn-lg btn-primary" href="#"><i class="bi bi-search"></i> Search Jobs</a></p>
          </div>
      </div>
  </div>
</div>