<!-- ======= Who We Are ======= -->
   <section class="section whoweare">
   	  <div class="container">
      	<div class="row align-items-center mb-4">
        	<div class="col-lg-7 mb-5 mb-lg-0">
            	<div class="d-flex align-items-center mb-2"><span class="custom-line">&nbsp;</span> <h3>Who We Are</h3></div>
                <h2>Health and IT </h2>
                <p><strong>Raisso is a nationwide leader in healthcare staffing and a Medical Solutions company, one of the most respected brands in the staffing industry.</strong> As a Global Company, we combine a great diversity of cultures, ideas and talent. Diversity and tolerance keep us competitive. Respect and integrity guide our behavior. </p>
                <p>Raisso serves the medical staffing needs of healthcare facilities in all 50 states through our nationwide network of highly skilled and dedicated healthcare professionals. We elevate our service offerings in order to meet the growing and changing needs of our customers while continuing to deliver a first-class employee experience.</p>
            </div>
            
            <div class="col-lg-5"><img src="/img/imgright.png" alt="" class="img-fluid"></div>
        </div>
      </div>
   </section>